.contact_card {
    height: 10%;
    margin-right: 3%;
    padding: 0 2% 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;

    cursor: pointer;
    border-radius: 10px;
    background-color: #141414;

    .contact_photo {
        width: 2.5vw;
        height: 2.5vw;
    
        border-radius: 50%;
        background-color: gray;
    }

    .text_info_block {
        width: 82%;

        .name_block {
            display: flex;
            gap: 0.4vw;

            font-size: 0.7vw;
            font-weight: 500;
            color: #7FFFAB;
        }

        .last_message_block {
            font-size: 0.88vw;
        }
    }

    .new_message_counter {
        width: 1.4vw;
        height: 1.4vw;
        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 400;
        color: #141414;
        border-radius: 50%;
        background-color: #99FFAF;
    }

    .new_message_counter_hidden {
        width: 1.4vw;
        height: 1.4vw;

        visibility: hidden;
    }
}

