.chat_header {
    height: 9vh;
    width: 100%;
    display: flex;
    margin: 1.5% 2% 0 2%;

    border-radius: 10px;
    border: 1px solid #202020;
    background-color: #000000;

        .partition {
            width: 0.36%;
            background-color: #202020;
            
        }
}