.chat {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1E1E1E;


    .chat_window {
        width: 95vw;
        height: 90vh;

        border-radius: 17px;
        background-color: #090909;
        color: aliceblue;
    }
}

